*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color:white;

}

html{
    height: 100vh;
}

body{
    background: black url('../imagens/back-phone.jpg') no-repeat;
    background-size:cover;
    background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.329);
    margin: auto;
    width: 90vw;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;

}

h1{
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

img{
    margin: auto;
}

#phone{ display: block;}
#pc{display: none;}
#tablet{display: none;}
#print{display: none;}
#tv{display: none;}